[submodule "extern/SDL2"]
	path = extern/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = release-2.32.x
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/cereal"]
	path = extern/cereal
	url = https://github.com/USCiLab/cereal
[submodule "extern/ensmallen"]
	path = extern/ensmallen
	url = https://github.com/mlpack/ensmallen
